.modal
  position: fixed
  top: 0
  left: 0
  width: 100vw
  height: 100vh
  background: rgba(0, 0, 0, 0.7)
  overflow-y: auto
  padding: 50px 20px
  z-index: 20
  animation: modal-fadeout var(--modal-animation-time) ease-in-out forwards
  &.open
    animation: modal-fadein var(--modal-animation-time) ease-in-out forwards
  &__content
    width: 100%
    min-height: 100%
    height: auto
    display: flex
    align-items: center
    justify-content: center
    max-height: 100%
    overflow: visible
    z-index: 9999
  &__box
    background: #fafafa
    padding: 50px 20px
    display: flex
    flex-direction: column
    align-items: flex-start
    width: 100%
    max-width: 500px
    position: relative
  &__close
    cursor: pointer
    &--fixed
      position: absolute
      top: 16px
      right: 16px
      background: url(./images/icons/close.svg) center no-repeat
      background-color: #FFFFFF
      width: 32px
      height: 32px
      border-radius: 50%
  &__description
    font-size: 16px
    line-height: 24px
    margin-bottom: 20px

[data-modal]
  cursor: pointer
  *
    pointer-events: none

@keyframes modal-fadeout
  0%
    transform: scale(1)
    opacity: 1
  100%
    transform: scale(1.05)
    opacity: 0

@keyframes modal-fadein
  0%
    transform: scale(1.05)
    opacity: 0
  100%
    transform: scale(1)
    opacity: 1


@media (max-width: 767px)
  .modal
    &__close
      &--fixed
        top: -15px
        right: 0px
