.hidden
  display: none
.active
  color: rgb(250, 126, 16)
  border-bottom: 2px solid rgb(250, 126, 16)

.quickLinks
  margin-bottom: 36px
  width: max-content
  &__line
    border: 1px solid rgb(215, 216, 225)
    z-index: 1
    margin-top: 9px
  &__block
    a
      position: relative
      z-index: 3
      padding: 0 6px 10px 6px



@media (max-width: 424px)
  .quickLinks
    margin-bottom: 24px