.becomePartnerpage
  &__wrapper
    display: flex
    flex-direction: column
    gap: 48px
  &__title
    color: rgb(37, 37, 37)
  &__become
    display: flex
    flex-direction: column
    gap: 24px
  &__ul
    display: flex
    flex-direction: column
    gap: 6px
    padding-left: 18px
  &__li
    list-style-type: disc
  &__li::marker
    color: rgb(250, 126, 16)
  &__container
    display: flex
    flex-direction: column
    gap: 16px
  &__infoTitle
    margin-bottom: 16px
  &__infoWrapper
    display: flex
    flex-direction: column
    gap: 24px
  &__comingPartnersWrapper
    border-radius: 24px
    background: rgb(228, 233, 250)
    padding: 36px 48px
    position: relative
    overflow: hidden
    display: flex
    justify-content: space-between
    align-items: center
  &__comingPartnersTextWrap
    display: flex
    flex-direction: column
    gap: 16px
  &__img
    position: absolute
    top: -44px
    width: 270px
    height: 270px
    left: 58%
  &__btn
    padding: 16px 24px 16px 24px

@media (max-width: 424px)
  .becomePartnerpage
    &__grey-wrap
      padding: 16px
    &__h3
      text-align: center
    &__infoTitle
      text-align: center
    &__comingPartnersWrapper
      flex-direction: column
      padding: 16px 16px 110px 16px
      gap: 16px
    .h3
      font-size: 20px
      font-weight: 600
      line-height: 28px
      color: rgb(37, 37, 37)
    &__comingPartnersTextSubitle
      text-align: center
    &__img
      width: 119px
      height: 119px
      top: 50%
      left: 50%
      transform: translate(-50%, 50%)

@media (min-width: 425px) and (max-width: 767px)
  .becomePartnerpage
    &__grey-wrap
      padding: 16px
    &__h3
      text-align: center
    &__infoTitle
      text-align: center
    &__comingPartnersWrapper
      flex-direction: column
      padding: 16px 16px 110px 16px
      gap: 16px
    .h3
      font-size: 22px
      font-weight: 600
      line-height: 28px
      color: rgb(37, 37, 37)
    &__comingPartnersTextSubitle
      text-align: center
    &__img
      width: 119px
      height: 119px
      top: 50%
      left: 50%
      transform: translate(-50%, 36%)
    &__comingPartnersTextWrap
      max-width: 415px


@media (min-width: 768px) and (max-width: 1023px)
  .becomePartnerpage
    &__comingPartnersWrapper
      padding: 24px
      flex-direction: column
      align-items: baseline
      gap: 16px
    &__img
      width: 200px
      height: 200px
      top: 6px
      left: 73%
    &__comingPartnersTextWrap
      max-width: 78%
    &__comingPartnersTextTitle
      font-size: 28px


@media (min-width: 1024px) and (max-width: 1200px)
  .becomePartnerpage
    &__comingPartnersWrapper
      padding: 24px
    &__img
      top: -44px
      width: 200px
      height: 200px
      left: 61%
    &__btn
      z-index: 3