.becomePartner
  &__wrapper
    position: relative
    border-radius: 24px
    padding: 24px 48px
    overflow: hidden
    display: flex
    justify-content: space-between
    gap: 0
    align-items: center
  &__img
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    z-index: 3
    &-mob
      display: none
      position: absolute
      top: 0
      left: 0
      width: 100%
      height: 100%
      z-index: 3
  &__title
    color: rgb(244, 244, 244)


@media (max-width: 424px)
  .becomePartner
    &__img
      display: none
      &-mob
        display: block
    &__wrapper
      flex-direction: column
      padding: 16px
      gap: 16px
    &__btn
      padding: 16px 32px 16px 32px

@media (min-width: 425px) and (max-width: 767px)
  .becomePartner
    &__img
      display: none
      &-mob
        display: block
    &__wrapper
      flex-direction: column
      padding: 16px
      gap: 16px
    &__btn
      padding: 16px 32px 16px 32px
    &__title
      margin: 0 auto
      text-align: center


@media (min-width: 768px) and (max-width: 1023px)
  .becomePartner
    &__wrapper
      flex-direction: column
      picture
        display: none
    &__title
      text-align: center
      margin-bottom: 24px
      font-size: 28px
    &__btn
      max-width: 730px
      margin: 0 auto

@media (min-width: 1024px) and (max-width: 1100px)
  .becomePartner
    &__wrapper
      padding: 24px
    &__title
      font-size: 29px