.certification
  &__wrap
    padding: 36px
    border-radius: 24px
    background: rgb(246, 246, 250)
    display: flex
    flex-direction: column
    gap: 24px
  &__ul
    display: flex
    flex-direction: column
    gap: 16px
  &__li
    a
      display: flex
      align-items: center
      gap: 8px
      color: rgb(250, 126, 16)
      &:before
        width: 0
        height: 0
      &:hover
        color: rgb(249, 95, 9)
        svg
          path
            fill: rgb(249, 95, 9)
      svg
        width: 20px
        height: 20px
  &__wrapper
    display: flex
    flex-direction: column
    gap: 48px
  &__dopInfo
    display: flex
    flex-direction: column
    gap: 24px
  &__info
    p
      margin-bottom: 16px
    h4
      margin-bottom: 12px
    h3
      font-size: 32px
      font-weight: 600
      line-height: 40px
      margin-bottom: 16px
    p
      margin-bottom: 16px
      color: rgb(37, 37, 37)
      font-family: Manrope
      font-size: 16px
      font-weight: 600
      line-height: 24px
    a
      color: rgb(250, 126, 16)
      &:hover
        color: rgb(249, 95, 9)
    h4
      color: rgb(37, 37, 37)
      font-family: Manrope
      font-size: 26px
      font-weight: 600
      line-height: 34px
      margin-bottom: 16px
    ul
      display: flex
      flex-direction: column
      gap: 8px
      margin-bottom: 32px
    li
      position: relative
      padding-left: 16px
      color: rgb(37, 37, 37)
      font-family: Manrope
      font-size: 16px
      font-weight: 600
      line-height: 24px
      &::before
        content: ''
        position: absolute
        top: 10px
        left: 0px
        width: 6px
        height: 6px
        border-radius: 100px
        background: rgb(250, 126, 16)
    ul>li>ul
      margin-top: 8px
      margin-bottom: 0px
    ol
      list-style-type: none
      counter-reset: num
      font-size: 16px
      padding-left: 38px
    ol li
      position: relative
      margin: 0 0 0 0
      padding: 0 0 10px 0
    ol li:before
      content: counter(num)
      counter-increment: num
      position: absolute
      top: 0
      left: -38px
      width: 24px
      height: 24px
      background: rgb(250, 126, 16)
      color: #FFFFFF
      text-align: center
      line-height: 24px
      font-size: 16px
      border-radius: 50%
      display: flex
      align-items: center
      justify-content: center
      font-weight: 600


@media (max-width: 767px)
  .certification
    &__wrapper
      gap: 32px
    &__wrap
      padding: 16px
      gap: 16px
    &__wrapTitle
      text-align: center
      font-size: 20px
      font-weight: 600
      line-height: 28px
    &__ul
      gap: 12px
    &__li
      a
        svg
          width: 16px
          height: 16px

@media (min-width: 768px) and (max-width: 1023px)
  .certification__wrapTitle
    text-align: center