.events
  &__wrap
    padding: 16px
    border-radius: 24px
    background: rgb(246, 246, 250)
    display: flex
    gap: 16px
  &__box
    display: flex
    justify-content: space-between
    align-items: flex-start
  &__img
    width: 168px
    height: 128px
    border-radius: 16px
  &__date
    color: rgb(250, 126, 16)
    border-radius: 48px
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06)
    background: rgb(255, 255, 255)
    padding: 6px 12px 6px 12px
    align-items: flex-start
  &__time
    color: rgb(136, 136, 136)
    display: flex
    gap: 4.3px
    align-items: center
    img
      width: 15.4px
      height: 15.4px
  &__info
    display: flex
    flex-direction: column
    gap: 12px
    align-items: flex-start
  &__wrapper
    display: flex
    flex-direction: column
    gap: 16px

