.eventsSingle
  &__regWrap
    padding: 24px 48px
    border-radius: 24px
    background: rgb(246, 246, 250)
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 36px
  &__time
    color: rgb(37, 37, 37)
    font-size: 16px
    font-weight: 600
    line-height: 24px
    display: flex
    align-items: center
    gap: 8px
  &__regbox
    display: flex
    gap: 18px
  &__invation
    display: flex
    flex-direction: column
    gap: 48px
    margin-bottom: 100px
  &__ellipse
    width: 6px
    height: 6px
    background: rgb(250, 126, 16)
    border-radius: 50%
  &__teachersTitle
    color: rgb(37, 37, 37)
    font-size: 26px
    font-weight: 600
    line-height: 34px
    margin-bottom: 24px
  &__teachersWrap
    display: flex
    gap: 16px
    align-items: center
  &__teachers
    padding: 24px 36px
    border-radius: 24px
    background: rgb(246, 246, 250)
  &__line
    border: 1px solid rgb(215, 216, 225)
    margin: 12px 0
    &:last-child
      display: none
  &__teachersImg
    width: 80px
    height: 80px
    border-radius: 50%
  &__boxInfo
    display: flex
    flex-direction: column
    gap: 6px
  &__name
    color: rgb(37, 37, 37)
    font-size: 20px
    font-weight: 600
    line-height: 28px
  &__teachInfo
    color: rgb(136, 136, 136)
  &__conditions
    display: flex
    flex-direction: column
    gap: 16px
  ul
    display: flex
    flex-direction: column
    gap: 8px
  li
    display: flex
    gap: 6px
    align-items: center
  &__attention
    border-radius: 16px
    background: rgb(246, 246, 250)
    padding: 16px 36px
    display: flex
    flex-direction: column
    gap: 16px
    position: relative
    overflow: hidden
  &__blockColor
    width: 6px
    height: 100%
    position: absolute
    background-color: rgb(250, 126, 16)
    top: 0
    left: 0
  &__regbtn
    max-width: none
    width: 100%
  &__allEventsTitle
    margin-bottom: 32px
  &__infoWrapper
    display: flex
    flex-direction: column
    color: rgb(37, 37, 37)
    font-family: Manrope
    font-size: 16px
    font-weight: 600
    line-height: 24px
    align-items: flex-start
    h4
      color: rgb(37, 37, 37)
      font-family: Manrope
      font-size: 16px
      font-weight: 800
      line-height: 24px
      margin-bottom: 48px
    h6
      color: rgb(37, 37, 37)
      font-family: Manrope
      font-size: 16px
      font-weight: 600
      line-height: 24px
      margin-bottom: 16px
    h5
      margin-bottom: 48px
      color: rgb(37, 37, 37)
      font-family: Manrope
      font-size: 16px
      font-weight: 600
      line-height: 24px
    h3
      color: rgb(37, 37, 37)
      font-family: Manrope
      font-size: 32px
      font-weight: 600
      line-height: 40px
      margin-bottom: 16px
  ul
    display: flex
    flex-direction: column
    gap: 8px
    margin-bottom: 48px
  li
    position: relative
    padding-left: 16px
    &::before
      content: ''
      position: absolute
      top: 10px
      left: 0px
      width: 6px
      height: 6px
      border-radius: 100px
      background: rgb(250, 126, 16)
  &__wrapper-mob
    display: none
  &__conditionsUl
    display: flex
    flex-direction: column
    gap: 8px
    margin-bottom: 48px
  &__conditionsLi
    list-style-type: disc
  &__conditionsLi::marker
    color: rgb(250, 126, 16)
  &__attentionUl
    margin-bottom: 0px !important
  &__dopImg
    max-width: 168px
    width: 100%
    height: auto
    border-radius: 16px
.events__wrapper-dop
  display: flex
  flex-direction: column
  gap: 16px

@media (max-width: 424px)
  .eventsSingle
    &__invation
      margin-bottom: 68px
      gap: 0
    &__allEvents
      display: none
    &__wrapper-mob
      display: block
    &__regWrap
      flex-direction: column
      border-radius: 24px
      padding: 16px
      gap: 12px
      margin-bottom: 58px
    &__regbox
      flex-direction: column
      align-items: center
      gap: 12px
    &__time
      text-align: center
      img
        display: none
    &__infoWrapper
      h4
        margin-bottom: 32px
      h5
        margin-bottom: 16px
      h3
        color: rgb(37, 37, 37)
        font-family: Manrope
        font-size: 20px
        font-weight: 600
        line-height: 28px
    ul
      margin-bottom: 32px
    &__teachers
      margin-bottom: 32px
      padding: 16px
    &__teachersTitle
      font-size: 20px
      font-weight: 600
      line-height: 28px
      text-align: center
      margin-bottom: 16px
    &__teachersWrap
      gap: 12px
    &__name
      font-size: 18px
      font-weight: 600
      line-height: 26px
    &__teachersImg
      min-width: 60px
      width: 60px
      height: 60px
    &__attention
      margin-bottom: 32px
      gap: 12px


@media (min-width: 425px) and (max-width: 767px)
  .eventsSingle
    &__invation
      margin-bottom: 68px
      gap: 0
    &__allEvents
      display: none
    &__wrapper-mob
      display: block
    &__regWrap
      flex-direction: column
      border-radius: 24px
      padding: 16px
      gap: 12px
      margin-bottom: 58px
    &__regbox
      flex-direction: column
      align-items: center
      gap: 12px
    &__time
      text-align: center
      img
        display: none
    &__infoWrapper
      h4
        margin-bottom: 32px
      h5
        margin-bottom: 16px
      h3
        color: rgb(37, 37, 37)
        font-family: Manrope
        font-size: 20px
        font-weight: 600
        line-height: 28px
    ul
      margin-bottom: 32px
    &__teachers
      margin-bottom: 32px
      padding: 16px
    &__teachersTitle
      font-size: 20px
      font-weight: 600
      line-height: 28px
      text-align: center
      margin-bottom: 16px
    &__teachersWrap
      gap: 12px
    &__name
      font-size: 18px
      font-weight: 600
      line-height: 26px
    &__teachersImg
      min-width: 60px
      width: 60px
      height: 60px
    &__attention
      margin-bottom: 32px
      gap: 12px

@media (min-width: 768px) and (max-width: 1023px)
  .eventsSingle
    &__invation
      gap: 16px
    &__regWrap
      padding: 24px
      flex-wrap: wrap
      justify-content: center
      gap: 16px
    &__btn
      padding: 16px

@media (min-width: 1024px) and (max-width: 1200px)
  .eventsSingle
    &__regWrap
      flex-wrap: wrap
      justify-content: center
      gap: 16px