.eventsSingle
  &__regWrap
    padding: 24px 48px
    border-radius: 24px
    background: rgb(246, 246, 250)
    display: flex
    align-items: center
    justify-content: space-between
  &__time
    color: rgb(37, 37, 37)
    font-size: 16px
    font-weight: 600
    line-height: 24px
    display: flex
    align-items: center
    gap: 8px
  &__regbox
    display: flex
    gap: 18px
