.its
  &__wrapper
    display: flex
    flex-direction: column
    gap: 48px
  &__info
    display: flex
    flex-direction: column
    gap: 24px
  &__ul
    display: flex
    flex-direction: column
    gap: 16px
  &__li
    color: rgb(250, 126, 16)
    font-family: Manrope
    font-size: 16px
    font-weight: 600
    line-height: 24px
    a
      display: flex
      align-items: center
      gap: 8px
      color: rgb(250, 126, 16)
      &:hover
        color: rgb(249, 95, 9)
        svg
          path
            fill: rgb(249, 95, 9)
      svg
        width: 20px
        height: 20px
  &__contract
    display: flex
    flex-direction: column
    gap: 16px
  &__contractUl
    display: flex
    flex-direction: column
    gap: 8px
  &__contractLi
    position: relative
    padding-left: 16px
    color: rgb(37, 37, 37)
    font-family: Manrope
    font-size: 16px
    font-weight: 600
    line-height: 24px
    &::before
      content: ''
      position: absolute
      top: 10px
      left: 0px
      width: 6px
      height: 6px
      border-radius: 100px
      background: rgb(250, 126, 16)
  &__prices
    display: flex
    flex-direction: column
    gap: 24px
  &__pricesWrapper
    display: flex
    flex-direction: column
    gap: 24px
  &__pricesWrap
    a
      color: rgb(250, 126, 16)
      &:hover
        color: rgb(249, 95, 9)
  .needQuestion
    margin-bottom: 0px


@media (max-width: 767px)
  .its
    &__pricesTitle
      color: rgb(37, 37, 37)
    &__wrapper
      gap: 16px
    &__ul
      gap: 12px
    &__li
      a
        svg
          max-width: 16px
          height: 16px
          width: 100%
    &__contract
      margin-bottom: 16px
    &__wrapper
      margin-bottom: 0
    &__contractTitle
      font-size: 16px
      font-weight: 800
      line-height: 24px