.links
  margin-top: 100px
  &__wrapper
    border-radius: 24px
    background: rgb(246, 246, 250)
    padding: 36px
    display: flex
    flex-direction: column
    gap: 32px
  &__wrap
    flex-direction: column
    gap: 16px
    display: flex
    svg
      width: 20px
      height: 20px
  &__link
    display: flex
    gap: 8px
    align-items: center
    color: rgb(250, 126, 16)
    font-size: 16px
    font-weight: 600
    line-height: 24px
    &:hover
      color: rgb(249, 95, 9)


@media (max-width: 767px)
  .links
    margin: 64px 0 64px 0
    &__wrapper
      border-radius: 16px
      background: rgb(246, 246, 250)
      padding: 16px
      display: flex
      flex-direction: column
      gap: 16px