.needQuestion
  &__wrapper
    border-radius: 36px
    background: linear-gradient(90.00deg, rgb(212, 216, 243) 1%,rgb(237, 230, 240) 100%),rgb(228, 233, 250)
    padding: 48px
    position: relative
    overflow: hidden
    display: flex
    flex-direction: column
    gap: 16px
  &__img
    position: absolute
    top: -30px
    right: -23px
  &__title
    margin-bottom: 0
  .form__box
    display: flex
    justify-content: space-between
  .form__inputWrap
    max-width: 354px
    width: 100%
  &__btn
    max-width: 354px
    width: 100%
  &__form
    display: flex
    flex-direction: column
    gap: 16px
  &__link
    display: flex
    gap: 8px
  &__policy
    color: rgb(94, 94, 94)
    font-family: Manrope
    font-size: 14px
    font-weight: 600
    line-height: 22px