.stocks
  &__box
    display: flex
    justify-content: space-between
    margin-bottom: 32px
  &__title
    margin-bottom: 0
  &__wrap
    border-radius: 24px
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.06)
    background: rgb(255, 255, 255)
    padding: 16px
    display: flex
    gap: 24px
    max-width: none
    height: auto
    width: 49%
  &__img
    border-radius: 24px
    max-width: 184px
    height: 139px
    width: 100%
    overflow: hidden
    img
      width: 100%
      height: 100%
  &__text
    color: rgb(37, 37, 37)
    font-size: 16px
    font-weight: 600
    line-height: 24px
  &__info
    display: flex
    flex-direction: column
    gap: 16px
    align-items: flex-start
    justify-content: space-between
  &__date
    font-size: 16px
    font-weight: 600
    line-height: 24px
    text-align: left
    text-transform: uppercase
    box-sizing: border-box
    border: 1px solid rgb(215, 216, 225)
    border-radius: 48px
    padding: 6px 12px
  &__swiper
    position: relative

@media (max-width: 480px)
  .stocks
    &__box
      flex-direction: column
      align-items: center
      gap: 16px
      margin-bottom: 16px
    &__wrap
      flex-direction: column
      gap: 12px
      align-items: center
    &__img
      max-width: 112px
      height: 84px
    &__info
      font-size: 16px
      font-weight: 600
      line-height: 24px
      align-items: center
    &__text
      text-align: center


@media (min-width: 481px) and (max-width: 767px)
  .stocks
    &__wrap
      width: 100%
      max-width: none


@media (min-width: 768px) and (max-width: 1023px)
  .stocks
    &__wrap
      width: 49%
      max-width: none
    &__img
      max-width: 30%

